<div class="wrap">

    <div class="lottery-nums"></div>
    <div class="lottery-result">開獎號碼: <span></span></div>

    <p>
      <button class="btn-lottery">開獎</button>
      <button class="reset">重設</button>
    </p>
    <hr>
    <p class="record">
      開獎紀錄:<span></span>
    </p>  

  </div>
  