<h1>List of Users</h1>

<%= link_to "new user", new_user_path, class:"btn btn-info" %>

  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Tel</td>
        <td>Email</td>
        <td>Store</td>
      </tr>
    </thead>
    <tbody>

     <%= render partial: "user", collection: @users %>

    </tbody>
  </table>
